html, body
    height: 100%
    margin: 0

html
    padding-bottom: 50px

.show
    position: relative

    .thumbnail
        height: 480px

    .btn-group
        position: absolute
        bottom: 30px
        margin: 5px
        width: 100%

    .btn
        width: 75%

#app
    height: 100%

    .pad
      height: 70px

    .wrapper
        height: 100%
        width: 100%
        padding-left: 0

        .player
            position: fixed
            bottom: 0px
            height: 60px
            width: 100%

            #volume
                top: 15px
                float: none!important
                overflow: hidden

            #progress
                margin: 0
                padding: 0
                top: 20px


div.playback
    float: none!important
    overflow: hidden
