doctype html
html
    head
        title= title
        meta(charset='UTF-8')
        link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
        link(rel='stylesheet', href='/stylesheets/style.css')

    body
        block content
        script(src='/javascripts/vendor.js')
        script(src='/javascripts/bundle.js')
